.footer {
    background: #262626;
}

.extras-title {
    font-family: 'Libre Barcode 39 Text', cursive;
    font-size: 64px;
    color: white;
}



.extras-header1 {
    font-family: 'Monoton', cursive;
    font-size: 52px;
    color: white;
    opacity:0;
    -webkit-animation: none;
    animation: none;
    transition: 0.3s;
}
#img1 {
    width:420px;
    transition: 0.5s;
}
#option1:hover > #img1{
    width:500px;
}
#option1:hover > .extras-header1{
    opacity:100;
    -webkit-animation: fadeInTop 1s;
    animation: fadeInTop 1s;
}


.extras-header2 {
    font-family: 'Monoton', cursive;
    font-size: 52px;
    color: white;
    text-align: right;
    opacity:0;
    -webkit-animation: none;
    animation: none;
    transition: 0.3s;
}
#img2 {
    width:420px;
    transition: 0.5s;
}
#option2:hover > #img2{
    width:500px;
}
#option2:hover >  .extras-header2 {
    opacity:100;
    -webkit-animation: fadeInBot 1s;
    animation: fadeInBot 1s;
}


.container {
    display: flex;
    justify-content: center;
}

/*
.sidebar {
    display: flex;
    justify-content: center;
    flex-direction: column;
    height: 50vh;
}
*/
