a {
    text-decoration: none !important;
}

p {
    color: white;
}

.icon {
    font-size:42px; 
    color:#fff;
}
.icon:hover {
    color: rgb(7, 255, 193);
}

small {
    font-size: 14px;
}

#sideBarCollapse.active {
    font-size: 72px;
    color: rgb(7, 255, 193);
    margin-top:-16px;
}


.nunitoFont {
    font-family: 'Nunito', sans-serif;
    font-size: 32px; /*24*/
    color: #ffffff;
    transition: 0.1s;
    position:fixed;
}

.nunitoFontLink {
    font-family: 'Nunito', sans-serif;
    font-size: 32px; /*32*/
    color: #ffc107;
    transition: all 0.1s;
}

.nunitoFontLink:hover {
    font-size: 72px;
    color:rgb(7, 255, 193);
    cursor: pointer;
    margin-top:-16px;
    
    -webkit-animation-name: jello;
    animation-name: jello;
    -webkit-transform-origin: center;
    transform-origin: center;
    animation-duration: 0.75s;
}

.questFont {
    font-family: 'Questrial', sans-serif;
}
