.footer {
    background: #262626;
}

/*
.content {
    width: 300px;
    height: 300px;
    position:relative;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
}
*/

.title-line {
    width:50%; 
    border-bottom-style: solid; 
    border-width: 1px;
    border-color: rgb(7, 255, 193);
}

#particles{
    width: 100%; 
    height: 100%;
    position: absolute;
    transition: all 0.3s;
    overflow: hidden;
}
#particles.active {
    height: 40%;
}


/*
#sidebar {
    margin-right: -250px;
    width: 250px; 
    position: fixed;
    top: 0;
    right: 0;
    height: 100%;
    z-index: 999;
    color:  #fff;
    background: rgb(0, 0, 0);
    transition: 0.3s;
}
#sidebar.active {
    margin-right: 0px;
}
*/

#sidebar {
    margin-top: 100vh;
    width: 100%;
    height: 60%; 
    top: 40%;
    bottom: 0;

    position: fixed;
    z-index: 999;
    color:  #fff;
    /*background: rgba(0, 139, 139, 0.3);*/
    background: rgb(0,0,0);
    transition: all 0.3s;
}
#sidebar.active {
    margin-top: 0px;
}
.sidebar-content{
    height:55vh;
    width: 100%;
}


#content {
    position: absolute;
    max-width: 100%;
    min-height: 100%;
    background: rgba(0,0,0,0.7);
    transition: all 0.3s;
}
#content.active {
    /*max-width: calc(100% - 250px);*/
    /*background: rgba(0, 0, 0, 0.4);*/
    background-image: linear-gradient(rgba(0,0,0,0.6),rgba(0,0,0,0.3),rgba(193, 7, 255, 0.1));
    min-height: 40%;
    max-height: 40%;
}



.b1{
    background: none;
    border: 2px solid #fff;
    color: #fff;
    transition: 0.2s;
    font-size: 24px;
    border-radius: 12px;
    width: 175px;
}
.b1:hover{
    background: radial-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.3), rgba(7, 255, 193, 0.25));
    border: 2px solid rgb(7, 255, 193);;
    color: rgb(7, 255, 193);;
    font-size: 32px;
    /*width: 125px;*/
}



.center {
    display: flex;
    justify-content: center;
    align-items:  center;
    flex-direction: column;
}


.wrapper {
    display: flex;
    width: 100%;
}

.transparent {
    z-index:-1;
    position: absolute;
    width: 300px;
    height: 300px;
    background: rgba(0, 0, 0, 0.85);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0,0.2);
}

.wave{
  background: none;
  position: relative;
}
.wave::before, .wave::after{
  border-bottom: 5px solid rgb(0, 0, 0);
}
.wave::before{
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  height: 10px;
  background-size: 20px 40px;
  background-image: radial-gradient(circle at 10px -15px, transparent 20px, rgb(0, 0, 0) 21px);
}
.wave::after{
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  height: 15px;
  background-size: 40px 40px;
  background-image: radial-gradient(circle at 10px 26px, rgb(0, 0, 0) 20px, transparent 21px);
}



  
  
