
p {
    color: white;
}

small {
    font-size: 14px;
}


.footer {
    background: #262626;
}

.content {
    width: 300px;
    height: 300px;
    position:relative;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
}

.nunitoFont {
    font-family: 'Nunito', sans-serif;
    font-size: 24px;
    color: #ffffff;
    transition: 0.1s;
}

.nunitoFont:hover {
    font-family: 'Nunito', sans-serif;
    font-size: 28px;
    color: yellow;
    background: rgba(0,0,0,0.4);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.63);
}

.questFont {
    font-family: 'Questrial', sans-serif;
}

iframe{
    width: 100%; 
    height: 100%;
    position: absolute;
}

.container {
    position: absolute;
    max-width: 100%;
    min-height: 100%;
    background: rgba(0,0,0,0.6);
}

.transparent {
    z-index:-1;
    position: absolute;
    width: 300px;
    height: 300px;
    background: rgba(0, 0, 0, 0.85);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0,0.2);

}

.fade-in {
    -webkit-animation: fadein 2s; /* Safari, Chrome and Opera > 12.1 */
    -moz-animation: fadein 2s; /* Firefox < 16 */
    -ms-animation: fadein 2s; /* Internet Explorer */
    -o-animation: fadein 2s; /* Opera < 12.1 */
    animation: fadein 2s;
}

.fade-in-delay{
    opacity: 0;
    -webkit-animation: fadein 5s 2s; /* Safari, Chrome and Opera > 12.1 */
    -moz-animation: fadein 5s 2s; /* Firefox < 16 */
    -ms-animation: fadein 5s 2s; /* Internet Explorer */
    -o-animation: fadein 5s 2s; /* Opera < 12.1 */
    animation: fadein 5s 2s;

    -webkit-animation-fill-mode: forwards;
    -moz-animation-fill-mode: forwards;
    -ms-animation-fill-mode: forwards;
    -o-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
}
@keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}
@-moz-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}
@-webkit-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}
@-ms-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}
@-o-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

.fadeInRight {
    -webkit-animation: fadeInRight 2s;
    animation: fadeInRight 2s;
}
@-webkit-keyframes fadeInRight {
    from {
      opacity: 0;
      -webkit-transform: translate3d(7%, 0, 0);
      transform: translate3d(7%, 0, 0);
    }
  
    to {
      opacity: 1;
      -webkit-transform: translate3d(0, 0, 0);
      transform: translate3d(0, 0, 0);
    }
}
@keyframes fadeInRight {
    from {
      opacity: 0;
      -webkit-transform: translate3d(7%, 0, 0);
      transform: translate3d(7%, 0, 0);
    }
  
    to {
      opacity: 1;
      -webkit-transform: translate3d(0, 0, 0);
      transform: translate3d(0, 0, 0);
    }
}

.fadeInTop {
    -webkit-animation: fadeInTop 2s;
    animation: fadeInTop 2s;
}
@-webkit-keyframes fadeInTop {
    from {
      opacity: 0;
      -webkit-transform: translate3d(0, -10%, 0);
      transform: translate3d(0, -10%, 0);
    }
  
    to {
      opacity: 1;
      -webkit-transform: translate3d(0, 0, 0);
      transform: translate3d(0, 0, 0);
    }
}
@keyframes fadeInTop {
    from {
      opacity: 0;
      -webkit-transform: translate3d(0, -10%, 0);
      transform: translate3d(0, -10%, 0);
    }
  
    to {
      opacity: 1;
      -webkit-transform: translate3d(0, 0, 0);
      transform: translate3d(0, 0, 0);
    }
}
  
