.footer {
    background: #262626;
}

 
.title-line {
    width:32%; 
    border-bottom-style: dashed; 
    border-width: 1px;
    border-color: rgb(110, 110, 110);
    font-size: 4.5rem;
    line-height: 1.2;
    display:flex;
}



#particles{
    width: 100%; 
    height: 100%;
    position: absolute;
    transition: all 0.3s;
    overflow: hidden;
}


#intro-content {
    
    position: absolute;
    max-width: 100%;
    background: rgba(0,0,0,0.7);
    transition: all 0.3s;
    /*background-image: linear-gradient(rgba(0,0,0,0.6),rgba(0,0,0,0.3),rgba(193, 7, 255, 0.1));*/
    min-height: 100%;
    max-height: 100%;
    
}



#main-content{
    /*margin-top: 100%;*/
    width: 100%;
    height: 100%;
    top: 100%;
    bottom: 0;
    position: absolute;
    z-index: 999;
    color:  rgb(0, 0, 0);
    background: rgb(255, 255, 255);
    transition: all 0.3s;
}

#sidebar {
    width: 175px;
    position: -webkit-sticky;
    position: sticky;
    top: 3rem;
}
.sidebar-content{
    width: 100%;
}



.b1{
    background: none;
    border: 2px solid rgb(0, 0, 0);
    color: rgb(0, 0, 0);
    transition: 0.2s;
    font-size: 24px;
    border-radius: 12px;
    width: 175px;
}
.b1:hover{
    /*background: radial-gradient(rgba(255, 255, 255, 0.5),rgba(228, 228, 228, 0.3), rgba(7, 255, 193, 0.25));*/
    border: 2px solid rgb(7, 255, 193);
    color: rgb(7, 255, 193);
    font-size: 32px;
}
.b1:focus, video:focus {
    outline: none;
}



.center {
    display: flex;
    justify-content: center;
    align-items:  center;
    flex-direction: column;
}

.p5-lines{
    width: 300px;
    height: 300px;
    position:relative;
    overflow: hidden;
    background:#000;
    box-shadow: 0 4px 8px 0 rgba(255, 255, 255, 0.050);
}

.wave{
  background: none;
  position: relative;
}
.wave::before, .wave::after{
  border-bottom: 5px solid rgb(255, 255, 255);
}
.wave::before{
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  height: 10px;
  background-size: 20px 40px;
  background-image: radial-gradient(circle at 10px -15px, transparent 20px, rgb(255, 255, 255) 21px);
}
.wave::after{
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  height: 15px;
  background-size: 40px 40px;
  background-image: radial-gradient(circle at 10px 26px, rgb(255, 255, 255) 20px, transparent 21px);
}


.overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 1;
    background-color: #080d15;
    opacity:0.3;
    transition:0.3s;
}
.overlay:hover {
    opacity:0;
    
}
.overlay:hover ~ .carousel-caption {
    opacity:0;
    transition:0.3s;
}





  
  
